* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin:0;
}
body
{
    margin:0;
}
h1 {
  color: white;
}
#product-overview {
  background: #ff1b68;
  padding: 20px;
  height: 100%;
}

.section-title {
  color: darkblue;
}
