* {
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
}

.main-header {
  background: #2ddf5c;
  padding: 8px 16px;
  vertical-align: middle;
}
.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  height: 35px;
  vertical-align: middle;
}
.main-header__brand img {
  height: 100%;
  width: 100%;
}
.main-nav__item {
  display: inline-block;
  text-decoration: none;
  margin: 0 16px;
  padding: 12px;
}
.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0;
}
.main-nav__item a:hover,
.main-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 120px);
  vertical-align: middle;
}
header > div {
  display: inline-block;
}

.main-nav__items,
.mobile-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__cta a,
.mobile-nav__item--cta a {
  background-color: #ff1b68;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
}
.main-nav__cta a:hover,
.main-nav__cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  background-color: white;
  border: none;
  color: #ff1b68;
}
.main-footer {
  background-color: black;
}
.main-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.main-footer a {
  text-decoration: none;
  color: white;
}
.main-footer li {
  display: inline-block;
  margin: 0 16px;
  padding: 16px;
}
.main-footer a:hover {
  color: rgb(151, 151, 151);
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  vertical-align: middle;
}
main {
  margin-top: 15px;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(76, 75, 75, 0.502);
  z-index: 50;
  top: -5px;
  display: none;
}
.modal {
  position: fixed;
  z-index: 200;
  top: 40%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: none;
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}
.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}
.open
{
  display: block !important;
}